@model SanphamDto
@{
    Layout = "Admin/_LayoutAdmin";
}

<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">
        <h2 class="text-center mb-5">Chỉnh sửa sản phẩm</h2>

        <form method="POST" enctype="multipart/form-data">
            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ID Sản Phẩm</label>
                <div class="col-sm-8">
                    <input class="form-control plaintext" readonly value="@ViewData["ProductId"]" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Tên Sản Phẩm</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ten_sanpham" />
                    <span asp-validation-for="ten_sanpham" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Loại Sản Phẩm</label>
                <div class="col-sm-8">
                    <select asp-for="id_loaisp" class="form-control" asp-items="@(new SelectList(ViewBag.LoaiSP, "id", "name"))">
                        <option value="">-- Chọn Loại --</option>
                    </select>
                    <span asp-validation-for="id_loaisp" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Thành tiền</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="thanhtien" />
                    <span asp-validation-for="thanhtien" class="text-danger"></span>
                </div>
            </div>

            <!--<div class="row mb-3">
                <label class="col-sm-4 col-form-label">Số lượng</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="soluong" />
                    <span asp-validation-for="soluong" class="text-danger"></span>
                </div>
            </div>-->

            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-8">
                    <img src="/assets/sanphams/@ViewData["ImageFileName"]" width="150" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Hình Ảnh</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="hinhanh" />
                    <span asp-validation-for="hinhanh" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Mã sản phẩm</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ma_sanpham" />
                    <span asp-validation-for="ma_sanpham" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>

                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-danger" asp-controller="SanPham" asp-action="Index" role="button">
                        Thoát
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>